In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("titanic.csv")

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
# # USING LOGISTIC REGRESSION 

# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score
# import joblib

# # Load data
# df = pd.read_csv("titanic.csv")

# # Select features and target
# X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
# y = df['Survived']

# # Encode categorical data
# X['Sex'] = X['Sex'].map({'male': 0, 'female': 1})
# X['Embarked'] = X['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

# # Fill missing values
# X['Age'].fillna(X['Age'].mean(), inplace=True)
# X['Embarked'].fillna(0, inplace=True)

# # Train-test split
# X_train, X_test, y_train, y_test = train_test_split(
#     X, y, test_size=0.2, random_state=42
# )

# # Train model
# model = LogisticRegression()
# model.fit(X_train, y_train)

# # Prediction
# y_pred = model.predict(X_test)

# # Accuracy
# print("Accuracy:", accuracy_score(y_test, y_pred))


# # Save the model 
# joblib.dump(model,"titanic_model.joblib")
# print("Model saved successfully!")

In [8]:
# Pclass=3, Sex=male, Age=22, SibSp=1, Parch=0, Fare=7.25, Embarked=S

In [19]:
# new_passenger = [[3, 0, 22, 1, 0, 7.25, 0]]
# result = model.predict(new_passenger)

# print("Survived" if result[0] == 1 else "Not Survived")

üìã Description of Column Headings (Titanic Dataset)
1Ô∏è‚É£ Pclass (Passenger Class)

Represents the travel class of the passenger

Values:

1 ‚Üí First Class

2 ‚Üí Second Class

3 ‚Üí Third Class

Importance: Higher-class passengers had better survival chances

2Ô∏è‚É£ Sex

Gender of the passenger

Values:

male

female

Importance: Females had a higher survival rate

3Ô∏è‚É£ Age

Age of the passenger in years

Type: Numerical

Importance: Children and younger passengers survived more often

4Ô∏è‚É£ SibSp (Siblings / Spouses Aboard)

Number of siblings or spouse traveling with the passenger

Example:

1 ‚Üí Passenger had one sibling or spouse on board

Importance: Family size influenced survival probability

5Ô∏è‚É£ Parch (Parents / Children Aboard)

Number of parents or children traveling with the passenger

Example:

0 ‚Üí Passenger was traveling alone

Importance: Passengers with small families had better survival chances

6Ô∏è‚É£ Fare

Ticket fare paid by the passenger

Type: Numerical (in British pounds)

Importance: Higher fare often meant better cabin location and survival chance

7Ô∏è‚É£ Embarked (Port of Embarkation)

Port where the passenger boarded the Titanic

Values:

S ‚Üí Southampton

C ‚Üí Cherbourg

Q ‚Üí Queenstown

Importance: Survival rates varied by boarding location

üßæ Example Passenger Explanation
Pclass = 3        ‚Üí Third-class passenger
Sex = male        ‚Üí Male passenger
Age = 22          ‚Üí 22 years old
SibSp = 1         ‚Üí One sibling or spouse on board
Parch = 0         ‚Üí No parents or children on board
Fare = 7.25       ‚Üí Low ticket fare
Embarked = S      ‚Üí Boarded from Southampton

üîç Interpretation:

This passenger belongs to third class, is male, paid a low fare, and traveled with one family member. Such passengers had a lower survival probability.

# Using the Random Forest and the scaling

In [9]:
import pandas as pd
import joblib
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load data
df = pd.read_csv("titanic.csv")

# Select features & target
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df['Survived']

# Encode categorical columns
X['Sex'] = X['Sex'].map({'male': 0, 'female': 1})
X['Embarked'] = X['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

# Handle missing values
X['Age'].fillna(X['Age'].mean(), inplace=True)
X['Embarked'].fillna(0, inplace=True)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# üîπ Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# üîπ Random Forest Model
model = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)
model.fit(X_train_scaled, y_train)

# Prediction
y_pred = model.predict(X_test_scaled)

# Accuracy
print("Accuracy:", accuracy_score(y_test, y_pred))

# üîπ Save model & scaler
joblib.dump(model, "titanic_rf_model.joblib")
joblib.dump(scaler, "titanic_scaler.joblib")

print("Model and scaler saved successfully!")

C:\Users\acer\AppData\Local\Temp\ipykernel_1448\255644793.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].map({'male': 0, 'female': 1})
C:\Users\acer\AppData\Local\Temp\ipykernel_1448\255644793.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Embarked'] = X['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
C:\Users\acer\AppData\Local\Temp\ipykernel_1448\255644793.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Age'].fillna(X['Age'].mean(), inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_1448\255644793.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'].fillna(X['Age'].mean(), inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_1448\255644793.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Embarked'].fillna(0, inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_1448\255644793.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Embarked'].fillna(0, inplace=True)

Accuracy: 0.8212290502793296
Model and scaler saved successfully!

In [10]:
import joblib
import numpy as np

# Load saved model & scaler
model = joblib.load("titanic_rf_model.joblib")
scaler = joblib.load("titanic_scaler.joblib")

# New passenger data
# Pclass=3, Sex=male(0), Age=22, SibSp=1, Parch=0, Fare=7.25, Embarked=S(0)
new_data = np.array([[3, 0, 22, 1, 0, 7.25, 0]])

# Scale data
new_data_scaled = scaler.transform(new_data)

# Predict
prediction = model.predict(new_data_scaled)

print("Survived" if prediction[0] == 1 else "Not Survived")

Not Survived

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(